html {
    font-family: "Manrope", sans-serif;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0px;
}

#presentation-container {
    padding: 2,5rem 7.5rem;
    height: 50vh;
}

#presentation-text {
    width: 37.5rem;
    position: relative;
    top: calc(50% - 9.05rem);
}

h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

h2 {
    font-size: 3rem;
    font-weight: 5rem;
    margin: 0;
}

button {
    background-color: #F84646;
    color: white;
    font-size: 1.5rem;
    border: none;
    font-weight: 500;
    /* para peso da fonte*/
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    border-radius: .5rem;
    cursor: pointer;
}

.container {
    padding: 10rem 7.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
}

#elements {
    text-align: center;
}

#text-sub-head {
    font-size: 2rem;
}

p{
    font-size: 1.25rem;
}
#sub-head{
    text-align: center;
}
#contact-title{
    margin-top: .5rem;
}
.container > p{
    margin-top: 1.5rem;
}
.container > button {
    margin-top: 2rem;
}